* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.container {

  margin: 0 auto;
}


.card {
  padding: 2em;
}


.goal-card {
  padding: 1rem;
  background-image: linear-gradient(150deg, rgb(115, 118, 120), #899396);
  margin: 2%;
  border-radius: 10px;
  color: white;
}